#message {
    font-size: 18px;
}

#reset-email {
    font-size: 18px;
    width: 20%;
    height: 5%;
    border: 2px solid #264cad;
    border-radius: 5px;
    padding-left: 5px;
}

#btnSubmit {
    font-size: 16px;
    font-weight: bold;
    width: 17%;
    height: 6%;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #0e840e;
}

#btnSubmit:hover {
    cursor: pointer;
    background-color: #16c816;
}