/* DESIGN FOR LOGIN */
#login-page {
    background: url("Images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#logo {
    width: 50%;
    margin-left: 28%;
    margin-top: -9%;
}

#form-title {
    font-family: "Myriad Pro Black";
    font-size: 35px;
    color: white;
    border-bottom: 5px solid #4bb8dc;
    width: 88%;
}

#frmLogin {
    margin-left: 33%;
    margin-top: -12%;
    border: 2px solid;
    width: 33%;
    padding-left: 4%;
    padding-bottom: 2%;
    border-radius: 8px;
}

.txtInfo {
    width: 86%;
    height: 7%;
    border: 2px solid #4bb8dc;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Source Sans Pro";
}

#btnLogin {
    width: 45%;
    height: 7%;
    background-color: #a50909;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Myriad Pro Black";
    border: none;
    border-radius: 20px;
    margin-left: 20%;
}

#btnLogin:hover {
    cursor: pointer;
    background-color: red;
}

#message-signup {
    font-family: "Myriad Pro Black";
    font-size: 20px;
    color: white;
    margin-top: -0.5%;
    margin-left: 39%;
}

#link-forgot {
    color: #b3aeaee3;
    text-decoration: none;
    font-family: "Myriad Pro Black";
    font-size: 20px;
}

#link-forgot:hover {
    text-decoration: underline;
}

#link-signup {
    color: #b3aeaee3;
    text-decoration: none;
}

#link-signup:hover {
    text-decoration: underline;
}