<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mvc.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    -->
    <servlet>
        <servlet-name>GetOrderController</servlet-name>
        <servlet-class>com.mvc.controller.GetOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrderController</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>com.mvc.controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>com.mvc.controller.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>com.mvc.controller.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.mvc.controller.SignupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditInfoController</servlet-name>
        <servlet-class>com.mvc.controller.EditInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditInfoController</servlet-name>
        <url-pattern>/EditInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageWarehouseController</servlet-name>
        <servlet-class>com.mvc.controller.ManageWarehouseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageWarehouseController</servlet-name>
        <url-pattern>/ManageWarehouse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.mvc.controller.PaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>465</param-value>
    </context-param>

    <context-param>
        <param-name>socketFactoryClass</param-name>
        <param-value>javax.net.ssl.SSLSocketFactory</param-value>
    </context-param>

    <context-param>
        <param-name>auth</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>email</param-name>
        <param-value>unifood.teamdrive@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>name</param-name>
        <param-value>UNIFOOD-SUPPORT</param-value>
    </context-param>

    <context-param>
        <param-name>pass</param-name>
        <param-value>unifood2020</param-value>
    </context-param>

</web-app>